University of Scouting
Date
Time
Contact
<ul>
  <li>Phone</li>
  <li>Email</li>
</ul>

Start (or Continue) Your Registration

* Email Address: email
* Verity Email address: email

Continue button



         All fields marked with an * are required.
         
       <form ng-submit="add()">
         <div>
           <label>Email: *</label>
           <input type="text" ng-model="email" placeholder="Email" required>
         </div>
         <div>
           <label>Verify Email: *</label>
           <input type="text" placeholder="make me work">
         </div>
         <div>
           <input type="text" ng-model="firstName" placeholder="First Name">
         </div>
         <div>
           <input type="text" ng-model="lastName" placeholder="Last Name">
         </div>
         <div>
           <input type="text" ng-model="address1" placeholder="Address">
         </div>
         <div>
           <input type="text" ng-model="address2" placeholder="Address Line 2">
         </div>
         <div>
           <input type="text" ng-model="city" placeholder="City">
         </div>
         <div>
           <input type="text" ng-model="state" placeholder="State">
         </div>
         <div>
           <input type="text" ng-model="zip" placeholder="Zip">
         </div>
         <div>
           <input type="text" ng-model="phone" placeholder="Phone">
         </div>
         <div>
           <select ng-model="unitType">
             <option>Pack</option>
             <option>Troop</option>
             <option>Crew</option>
           </select>
         </div>
         <div>
           <input type="text" ng-model="unitNumber" placeholder="Unit Number">
         <div>
           <input type="submit" value="Save" class="button--primary">
         </div>
       </form>
       
       
      
      ...
      
      
      <table class="table">
        <thead>
          <th><a href="" ng-click="predicate='firstName'; reverse=!reverse">First Name</a></th>
          <th><a href="" ng-click="predicate='lastName'; reverse=!reverse">Last Name</a></th>
          <th>Email</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </thead>
        <tbody>
          <tr ng-repeat="(id, account) in accounts | orderBy:predicate:reverse">
            <td>{{ account.firstName }}</td>
            <td>{{ account.lastName }}</td>
            <td>{{ account.email }}</td>
            <td>
              <a href="#/edit/{{ account.$id }}">Edit</a>
            </td>
            <td>
              <a href="#" ng-click="remove(id)">Remove</a>
            </td>
            <td>
              <a href="#" ng-click="impersonate(account.email, account.firstName)">Impersonate</a>
            </td>
          </tr>
        </tbody>
      </table>