<main class="main" id="main" ng-controller="MainCtrl">
       ...
       <h1>University of Scouting Registration</h1>
       ...
       <h2>Login</h2>
       ...
       <div>
         
         All fields marked with an * are required.
         
       <form ng-submit="add()">
         <div>
           <label>Email: *</label>
           <input type="text" ng-model="email" placeholder="Email" required>
         </div>
         <input type="text" ng-model="firstName" placeholder="First Name">
         <input type="text" ng-model="lastName" placeholder="Last Name">
         <input type="text" ng-model="address1" placeholder="Address">
         <input type="text" ng-model="address2" placeholder="Address Line 2">
         <input type="text" ng-model="city" placeholder="City">
         <input type="text" ng-model="state" placeholder="State">
         <input type="text" ng-model="zip" placeholder="Zip">
         <input type="text" ng-model="phone" placeholder="Phone">
         <select ng-model="unitType">
           <option>Pack</option>
           <option>Troop</option>
           <option>Crew</option>
         </select>
         <input type="text" ng-model="unitNumber" placeholder="Unit Number">
         <input type="submit" value="Save" class="btn btn-primary">
       </form>
      </div>
      ...
      <table class="table">
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </thead>
        <tbody>
          <tr ng-repeat="registrant in registrants">
            <td>{{ registrant.firstName }}</td>
            <td>{{ registrant.lastName }}</td>
            <td>
              <a href="#/edit/{{ registrant.$id }}">Edit</a>
            </td>
            <td>
              <a href="#" ng-click="remove">Remove</a>
            </td>
          </tr>
        </tbody>
      </table>
     </main>